/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */

* {
	box-sizing:  border-box;
}
body {
	background:  url(flowers.jpeg) center no-repeat;
	background-size: cover;
	height: 80vh;
	font-family:  'Lato', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}

.wrapper {
	height: 100vh;
	display: flex;
	justify-content:  flex-end;
	align-items: center;
}

.info {
	background: rgba(0,0,0,.3);
	color: white;
	margin: 0 20px;
	padding: 5px;
	text-align: justify;
	box-shadow: 5px 0 5px -5px black,
				    -5px 0 5px -5px black;
	border-radius: 3px;
}

img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.name {
	text-align:  center;
	font-size: .8em;
	font-weight: 700;
}

.address h4 {
	font-size: .6em;
	font-weight: 300;
	text-align:  center;
}

.plus {
	font-size: 1.2em;
	color: #76BD1D;
	font-weight: 900;
}

.message {
	margin: 1em 0;
	text-align: center;
}

.price {
	text-align: right;
}

.total {
	color: #76BD1D;
	font-weight: 700;
}

form {
         display: flex;
         background:  #fff;
         border-left: 5px solid orange;
         flex-wrap: wrap;
    	  box-shadow: 1px -1px 8px 0px rgba(0,0,0,0.6);
       }

label {
	text-transform: uppercase;
	color:  #99A680;
	font-size: .7rem;
	font-weight: 300;
	padding: 3px 0 0 0;
}

.cell {
	    display: flex;
	    flex-direction: column;
	    flex: 1 1 auto;
	    text-align:  center;
	    height: 3em;
       }

input,
.button {
	text-align:  center;
	flex: 1;
}

input {
	border: none;
	color:  #b0b2b3;
}
.credit  { 
	flex: 4;
 }

 .sumbit input {
 	display: flex;
 	flex-direction:  column;
 }

 .button {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background: #76BD1D;
 	color: #fff;
 	font-size: .9em;
 	font-weight: 700;
 	text-transform:  uppercase;
 	cursor: pointer;
 }

 hr {
 	background: black;
 	padding: 0;
 	margin: 5px 0;
 }


